<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <p>
      <a href="/">go back</a>
    </p>
    <h1>About</h1>
    <h2>Background</h2>
    <p>I previously made things structurally sound for oil and gas people.</p>
    <p>The pandamic placed a pause on the lives of everyone.</p>
    <p>This pause allowed me to find a domain that has more of the things I like doing as an engineer.</p>
    <p>Now, I can do front-end things.</p>
    <p>If you need front-end things done, maybe I can help.</p>
    <h2>Skills</h2>
    <p>HTML5, CSS3, JavaScript, ReactJS, Jest, Firebase, Webpack, Git, GitHub, npm</p>
    <h2>Education</h2>
    <h3>Polytechnic University of the Philippines</h3>
    <p>Diploma in Information Technology, July 2021</p>
    <h3>Far Eastern University - Institute of Technology</h3>
    <p>Bachelor of Science in Civil Engineering, November, 2017</p>
  </div>
</body>
</html>